module Main where

import AufgabeFFPx
import Test.HUnit

test = TestCase $ assertEqual
    "Description"
    (expected)
    (actual)


group = TestList [ test ]

main = runTestTT $ TestList [ group ]
